.pageright {
  width: 10vw;
  height: 5vh;
  position: fixed;
  background-color: red;
  top: 30vh;
  right: 0vw;
  border-radius: 6px 0px 0px 6px;
  z-index: 3;
}

.pageleft {
  width: 10vw;
  height: 5vh;
  position: fixed;
  background-color: blue;
  top: 30vh;
  left: 0vw;
  border-radius: 0px 6px 6px 0px;
  z-index: 3;
}
